// colors
$primary: #ffa500;
$secondary: #fff;
$tertiary: rgba(0, 0, 0, 0.7);
$quaternary: linear-gradient(217deg, rgb(36, 28, 28), rgb(19, 21, 37) 70.71%);

//dimensions

$dimension1: 1rem;
$dimension2: 0.1rem;
$percentage1: 100%;
$percentage2: 10%;
$viewport1: 100vh;
